.main {
  width: min-content;
  display: flex;
}

.content {
  width: min-content;
  padding: 20px;
  background-color: lightgrey;
}

.title {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
}

.serviceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 16px;
  background-color: #ccc;
  gap: 20px;
}
