.page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
  height: 560px;
  width: 800px;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #a7e5f0;
  margin-top: calc((100vh - 800px) / 3);
  gap: 20px;
  margin-inline: auto;
}

.page__title {
  font-size: 24px;
  font-weight: 700;
}

.home__button {
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
}
.home__button:hover {
  color: #999;
}

.page__text {
  font-size: 18px;
  color: #888;
}
